* {
    margin: 0;
    padding: 0;
  }

html, body {
    margin: 0;
    padding: 0;
    /*overflow:hidden;*/
  }
/*     NAVABAR     */


.navbar {
  position: fixed;
  width: 100%;
  background: #fff;
}
.top-top {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 1%;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  text-decoration: none;
}

.info {
  margin: auto;
  text-align: center;
  font-size: .8rem;
}

.logo{
  float: left;
  height: 4em;
  margin-top: -2%;
}

.login:hover{
  color: rgb(100, 100, 100);
}

.login a{
  text-decoration: none;
}

.nav-right {
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  color: #f2f2f2;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  margin-top: 2%;
}


.topnav a {
  color: #000;
  padding: 15px;
  padding-right: auto;
  padding-left: auto;
  font-family: 'Roboto Condensed', sans-serif;
  text-decoration: none;
  font-size: 1rem;
  width: auto;
  transition:  all 0.5s ease;
  outline: 0;
}
  
.topnav .icon {
  display: none;
}

.border-link {
  display: inline-block;
  color: #000;
  text-decoration: none
}

.border-link:hover::after {
  width: 100%;
}

.home::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width .3s;
}

.project::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: rgb(107, 76, 76);
  transition: width .3s;
}

.notice::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: rgb(255, 0, 0);
  transition: width .3s;
}

.help::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: rgb(255, 115, 0);
  transition: width .3s;
}

.referral::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: rgb(255, 208, 0);
  transition: width .3s;
}

.contact::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: rgb(70, 190, 0);
  transition: width .3s;
}

.donate::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: rgb(0, 110, 255);
  transition: width .3s;
}

.escape::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: rgb(124, 0, 196);
  transition: width .3s;
}

/*     BACK TO TOP ARROW      */
#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #F8FFA8;
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top i {
  color: #002FA7;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top:hover i {
  color: rgba(0, 47, 167, 0.637);
  top: 5px;
}

/*     THE PROJECT     */

.project-TOP {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
}

.who, .shelter {
  flex: 1 ;
  width: 20%;
}

.timetable {
  flex: 2 ;
}

.who-shelter-headers, .community-header, .project-history h1  {
  font-family: 'Playfair Display', serif;
  text-align: center;
}

.who-shelter-headers, .project-history h1{
  padding-bottom: 5%;
}
.who, .timetable, .shelter {
  margin-top: 15%;
}

.project-text {
  padding: 10% 20%;
  text-align: justify;
  color: rgb(78, 78, 78);
}

.shelter-pic, .who-pic {
  width: 100%;
  max-width: 60%;
  height: auto;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figcaption {
  font-family: 'Roboto Condensed', sans-serif;
  color: rgb(104, 104, 104);
  font-size: 0.7rem;
  font-weight: 300;
  padding: 5% 20% 10% 20%;
  text-align: justify;
}

.who, .timetable {
  border-width: 0 1px 0 0;
  border-style: solid;
  border-color: rgba(218, 218, 218);
 /* border-image: 
  linear-gradient(to bottom, #ffffff, rgba(218, 218, 218)) 1 100%;*/
}


.hr-two {
  color: rgb(218, 218, 218);
  width: 80%;
  margin: 3% auto;
}

.timetable-details {
  padding: 2% 5% 5% 5%;
  text-align: center;
}

.monday {
  margin: 0 0 1% 0 !important;
}

.days {
  line-height: 2;
  margin: 3% 0 1% 0;
  font-family: 'EB Garamond', serif;
}

.community-activities p {
  line-height: 1.5;
  font-size: 1.25rem;
  color: rgb(78, 78, 78);
}

.project-history {
  margin-top: 5%;
  padding: 0% 2%;
  display: flex;
}

ul li {
  font-size: 1rem !important;
  color: rgb(78, 78, 78);
}
.community-centre, .mission, .visibility, .non-lgbtiq {
  flex: 1;
  padding: 1% 3%;
}

.community-centre, .mission, .visibility {
  border-width: 0 1px 0 0;
  border-style: solid;
  border-color: rgba(218, 218, 218);
}

.project-history p {
  text-align: justify;
  color: rgb(78, 78, 78);
}
.community-centre a {
  text-decoration: none;
  color: rgb(65, 65, 65);
}
.news {
  margin-top: 5%;
  padding: 0% 5%;
}

.header-news {
  padding: 0 0 2% 15% !important;
}

.news-title {
  font-family: 'Playfair Display', serif;
  padding-bottom: 2%;
}
.news-content {
  display: flex;
  flex-direction: row;
  padding: 4% 0 6% 0;
  border-width: 1px 0  0 0;
  border-style: solid;
  border-color: rgba(218, 218, 218);
}

.news-date {
  flex: 1;
  padding-right: 8%;
  font-family: 'Roboto Condensed', sans-serif;
  color: rgb(104, 104, 104);
  font-size: 0.7rem;
  font-weight: 300;
}
.news-content-middle {
  padding: 0 4% 0 0;
}
.news-pic {
  width: 250px;
  height: 200px;
  object-fit: cover;
}

/*     NOTICE BOARD     */

.header-notice {
  padding-top: 15% !important;
  text-align: center;
}
.notice-box {
  display: flex;
}

.notice-content {
  display: flex;
  flex-direction: column;
  padding-right: 5%;
  text-align: justify;
  font-family: 'EB Garamond', serif;
  line-height: 1.5;
}

.notice-content h2 {
  font-family: 'EB Garamond', serif;
  padding-bottom: 1%;
}

.date {
  color: rgb(78, 78, 78);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: .8rem;
  padding-bottom: 3%;
}

.notice-box img {
  padding: 0 4%;
}


/*     NEED HELP?    */

.message {
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  text-align: center;
  line-height: 1.8;
  padding: 13% 6% 3% 6%;
}

.phone-numbers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.headers {
  font-family: 'Playfair Display', serif;
  padding: 4% 0;
}

.phone-right, .phone-left {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 6%;
}

.phone-right {
  border-right: 1px solid rgb(218, 218, 218);
}

.phone, .message a, .headers a {
  text-decoration: none;
  color: rgb(65, 65, 65);
}

.one {
  color: rgb(218, 218, 218);
  width: 80%;
  margin: 3% auto;
}


ul li {
  padding: 2% 0;
  list-style: none;
  font-size: 1.2rem;
}

ul li a {
  text-decoration: none;
  font-family: 'EB Garamond', serif;
  color: rgb(65, 65, 65);
}

/*     CONTACT US     */

.warning {
  color: #f80369;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
}

.headers-contact {
  text-align: center;
}

.headers-contact-top {
  padding-top: 13%;
}

.form div:nth-child(1){
  display: flex;
  flex-direction: column;
}

.form {
  margin: 2% 0;
}

form{
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  font-family: 'EB Garamond', serif;
  font-size: 1.3rem;
  padding-bottom: 5%;
}

form label {
  padding-bottom: .6%;
}

form input, form select {
  height: 28px;
  border: 1px solid rgb(212, 212, 212);
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
  padding: 1%;
}

form select {
  height: 40px;
}

form textarea {
  height: 123px;
  border: 1px solid rgb(212, 212, 212);
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
  padding: 1%;
}

.btn-contact {
  width: 100%;
  height: 40px;
  border: 1px solid rgb(212, 212, 212);
  font-family: 'EB Garamond', serif;
  font-size: 1.3rem;
  cursor: pointer;
}

.team, .volunteering, .hosting {
  display: flex;
  flex-direction: column;
  padding: 2% 10%;
}

.team h1, .volunteering h1, .hosting h2 {
  font-family: 'Playfair Display', serif;
}

.team-members, .volunteering p, .hosting p {
  line-height: 1.5;
  margin: 1% 0;
  font-family: 'EB Garamond', serif;
  font-size: 1.2rem;
}

.volunteering a {
  text-decoration: none;
  color: rgb(65, 65, 65);
}

/*     FOOTER      */

.footer-links {
    margin-top: auto;
    padding-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: .8rem;
    font-weight: 300;
    bottom: 0;
    width: 100%;
    transition:  all 0.5s ease;
  }

  .left, .middle, .right {
    display: flex;
    text-align: left;
    flex-direction: row;
    margin-bottom: 10px;
  }
  
 .footer-twitter, .footer-insta, .footer-fb {
     height: 20px;
     padding: 0 8px;
 }

/*     ADMIN     */

.admin-login {
  padding-top: 15%;
}

.login-pic {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.crew-login {
  text-align: center;
  font-family: 'Playfair Display', serif;
  padding: 5% 0;
}

.sign-in {
  text-align: center;
  font-family: 'EB Garamond', serif;
  margin: 5% 0;
}

.btn-logout {
  width: 100%;
  height: 40px;
  border: 1px solid rgb(212, 212, 212);
  cursor: pointer;
  margin: 2% 0;
}

.btn-logout a{
  text-decoration: none;
  font-family: 'EB Garamond', serif;
  font-size: 1.3rem;
  color: #000;
}
#inputUsername, #inputPassword {
  margin: 2% 0;
}

/*     BLOG     */

.blog-top {
  padding-top: 15%;
}




  @media screen and (max-width: 800px) {

/*      NAVBAR     */

    .info {
      font-size: .6rem;
    }

    .topnav a:not(.logo) {
      display: none;
    }

    .login {
        font-size: .8rem;
    }
    .logo-div {
        position: absolute;
    }

    .logo {
      height: 3rem;
      border-bottom: 0 !important;
      float: left;
    }

    .topnav a.icon {
      float: right;
      display: block;
      border-bottom: 0;
      padding: 2%;
    }

    .topnav.responsive {
      position: fixed;
      margin-top: 2%;
    }

    .fa {
        position: fixed;
        right: 2%;
        top: 5%;
    }

    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
      font-size: 1rem;
      text-align: center;
    }
  
    .topnav.responsive .nav-right {
      display: block;
    }

    .nav-right {
      width: 800px;
      background-color: #fff;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    .home {
        margin-top: 5%;
    }


/*     SHELTER     */

    .project-TOP {
      display: flex;
      flex-direction: column;
    }

    .who, .shelter {
      width: 100% !important;
    }

    .timetable {
      flex-grow: auto ;
      padding: 10% 5%; 
    }

    .project-text {
      padding: 10%;
    }

    .shelter-pic, .who-pic {
      max-width: 80%;
  }

  figcaption {
    padding: 5% 10%;
}
    .who, .timetable, .community-centre, .mission, .visibility {
      border-width: 0 0;
      border-style: none;
    }

    .project-history {
      margin-top: 5%;
      padding: 10% 5%;
      display: flex;
      flex-direction: column;
    }

    .community-centre, .mission, .visibility, .non-lgbtiq {
      flex: 1;
      padding: 10% 5%;
  }
  
    .news-content {
      display: flex;
      flex-direction: column;
      padding: 10% 5%;
      border-width:  1px 0 0 0;
      border-style: solid;
      border-color: rgba(218, 218, 218);
    }
    
    .news-date {
      flex: 1;
      padding-right: 0;
    }

    .news-content-middle {
      padding: 0 4% 0 0;
    }

    .news-text {
      text-align: justify;
    }
    
    .news-pic {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 250px !important;
      padding: 5%;
      height: 200px !important;
    }
    
/*     NOTICE BOARD     */

.header-notice {
  padding-top: 20% !important;
}

.notice-box img {
  padding: 6% 0;
}


/*     NEED HELP?     */

    .message {
      padding-top: 11%;
    }

    .one {
      margin: 6% auto;
    }

    .phone-numbers {
      display: flex;
      flex-direction: column;
    }
    
    .phone-right, .phone-left {
      border-right: none;
      padding-bottom: 6%;
    }


/*     CONTACT US     */

    .contact-form{
      width: 90%;
    }

    .headers-contact-top {
      padding-top: 11%;
    }

    .headers-contact {
      padding-right: 2%;
      padding-left: 2%;
    }

/*     FOOTER     */
    .footer-links {
        font-size: .6rem;
        flex-direction: column;
    }
    
    .footer-twitter, .footer-insta, .footer-fb {
        height: 10px;
        padding: 0 4px;
    }

  }

  @media screen and (max-width: 380px) {
    .nav-right {
      width: 370px;
  }

  .notice-box {
    display: flex;
    flex-direction: column;
    padding: 0 10%;
  }

}