{% extends 'base.html.twig' %}

{% block title %}Need Help?{% endblock %}


{% block stylesheets %}

<link rel="stylesheet" href="{{asset('../public/CSS/base.css')}}">

{% endblock %}


{% block body %}

<section class="message">Please refer your clients to <a href="https://www.stonewallhousing.org/" target="_blank">Stonewall Housing</a> for housing advice & support, the <a href="http://lgbtdap.org.uk/" target="_blank">Domestic Abuse Partnership</a> for those fleeing domestic violence & <a href="http://www.galop.org.uk/" target="_blank">Galop</a>Galop for those fleeing domestic, sexual or emotional abuse & hate crime.</section>
        
        <hr class="one">

<section class="phone-numbers">
        <div class="phone-right">
                <h1 class="headers">Homelessness:</h1>
               
                  <ul>
                   <li><b>Stonewall Housing</b> : <a href="https://www.stonewallhousing.org/" target="_blank">www.stonewallhousing.org</a></li>

                <li><b>Albert Kennedy Trust</b> (aged 16-25) : <a href="https://www.akt.org.uk/" target="_blank">www.akt.org.uk</a></li>
                
                <li><b>Homeless Link</b> : <a href="http://www.homeless.org.uk/" target="_blank">www.homeless.org.uk</a></li>
                
                <li><b>Streetlink</b> : <a href="http://www.streetlink.org.uk/" target="_blank">www.streetlink.org.uk</a></li>
                
                <li><b>Next Meal</b> : <a href="https://www.nextmeal.co.uk/" target="_blank">www.nextmeal.co.uk</a></li>
                
                <li><b>The Pavement</b> : <a href="http://www.thepavement.org.uk/" target="_blank">www.thepavement.org.uk</a></li>     
                </ul>      
        </div>

        <div class="phone-left">
                <h1 class="headers">Abuse & Hate Crime:</h1>
               
                <ul>
                 <li><b>LGBT Domestic Abuse Partnership </b> : <a href="https://www.lgbtdap.org.uk/" target="_blank">www.lgbtdap.org.uk
                 </a></li>

              <li><b>Galop</b> : <a href="http://www.galop.org.uk/" target="_blank">www.galop.org.uk</a></li>
              
              <li><b>Women’s Aid</b> : <a href="http://www.womensaid.org.uk/" target="_blank">www.womensaid.org.uk</a></li>
              
              <li><b>Refuge</b> : <a href="https://www.refuge.org.uk/" target="_blank">www.refuge.org.uk</a></li>
              
              <li><b>Mankind Initiative</b> : <a href="https://www.mankind.org.uk/" target="_blank">www.new.mankind.org.uk</a></li>
              
              <li><b>LGBT Switchboard</b> : <a href="https://switchboard.lgbt/" target="_blank">www.switchboard.lgbt </a> or <a href="tel:03003300630">03003300630</a></li>     
              </ul>     
        </div>
</section>
{% endblock %}