<form method="post" action="{{ path('map_service_delete', {'id': map_service.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ map_service.id) }}">
    <button class="btn">Delete</button>
</form>
